html {
  background-color: #EEEEEE;
  line-height: 1;
}

*::-webkit-scrollbar-thumb {
  background-color: #26a69a;
}

*::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

#loader {
  background-color: #EEEEEE;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 9999;
  display: none;
}

#loader-logo {
  max-height: 70vh;
  max-width: 70vw;
  -webkit-animation: opacity 2s;
  -o-animation: opacity 2s;
  animation: opacity 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.centered {
  display: flex;
  justify-content: center;
}

#login .card-panel {
  width: 50%;
}

#login-logo {
  width: 25%;
  cursor: pointer;
}

#login-title {
  background-color: #26a69a;
  color: white;
}

#login-title h2 {
  font-size: 1.35em;
  font-weight: 200;
  text-transform: uppercase;
}

#login-info {
  color: #9e9e9e;
}

#login-info p {
  margin: 0;
}

#login-info p:first-child {
  margin-bottom: 0.5em;
}

#login form {
  margin-bottom: -2em;
}

.avatar-container {
  width: 49px;
  height: 49px;
  background-color: red;
}

.big-container {
  height: 95vh;
  padding-left: 2em;
  padding-right: 2em;
  overflow: hidden;
}

.hamburger {
  padding-top: 20px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: white;
  width: 30px;
  height: 1px;
}

#title-panel {
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 1em;
}

.panel {
  height: 62px;
  cursor: pointer;
  background-color: #078D83;
  color: white;
}

.panel:first-child:hover, .panel:nth-child(2):hover  {
  background-color: #239F96;
}

#left-icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#left-icons i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 60px;
}

#left-icons i:hover {
  background-color: #239F96;
}

#app .row {
  margin-bottom: 0;
}

.cont {
  height: 85vh;
  overflow: hidden;
}

.col.cont {
  padding: 0;
}

.over-y {
  overflow-y: auto;
}

.cont:first-child {
  border-right: 2px solid #EEEEEE;
}

#chat {
  height: 65vh;
  background: url("../img/chat-panel-bg.png") repeat #e5ddd5;
  padding: 1em 2em;
}

textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  -webkit-transition: all .1s ease; /* Safari */
  transition: all .1s ease;
  margin-bottom: 1em;
}

textarea:focus {
  outline: none;
  box-shadow: 0 4px 0px -2px #26a69a;
}

#write-here {
  padding: 1em 2em;
}

#write-here a {
  float: right;
}

/* 
.hamburger--collapse .hamburger-inner::after {
  top: -14px;
}

.hamburger-inner::before {
  top: -7px;
} */

@keyframes opacity {
  from {opacity: 1;}
  to {opacity: 0.3;}
}

@-webkit-keyframes opacity {
  from {opacity: 1;}
  to {opacity: 0.3;}
}